<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</head>
<body>



<p>



Advantages of Desktop PC:

Lots of memory space
easy to upgrade
fast processors
no battery
large screen ( depending on the monitor)
cheaper than laptops and tablets
the monitor, keyboard, mouse, etc
Disadvantages of Desktop PC:

large footprint
need keyboard, mouse and monitor
big and heavy
can be noisy
requires a separate monitor
probably without wireless connection
not portable
Laptop PC:



Advantages of Laptop PC:

easy to carry
small and light weight
powered by battery
portable
Disadvantages of Laptop PC

very expensive
less ergonomic than a desktop
easy to steal or loose
can over heat easily because it is a compact system
Tablet PC:



Advantages of Tablet PC:

small and light weight
recognizes handwriting
can be used as a GPS system
great for note taking
can connect keyboard on it
multi-touch screen
can connect to internet from anywhere.
long battery lifetime
Disadvantages of tablet PC:

easy to damage
weak capability
traditional key-boards are mush more comfortable
small screen
high cost
don’t have optical drives for CDs and DVDs
less number of ports
cant work with massive amounts of data
Suggestion:

The Best computer to buy would be the Desktop PC because it is fast, has lots of memory space, is a quick processor, has no battery and its very cheap.



<script>
$(document).ready(function(){
    uri=window.location
   // url= encodeURIComponent(uri);
   

    url_string=String(uri)
    url_string="https://09tfrahimi.wordpress.com/tag/advantages-and-disadvantages-of-desktop-pcs-laptops-tablets/"
    //alert(typeof(url_string))
    destination="http://127.0.0.1:5000/getdata/"
    
    
    
    
    
    
        $.post("http://127.0.0.1:5000/getdata",
        {
          url:url_string
        },
        function(data,status){
          //  alert("on u r mark")
            
            //var image=window.btoa(unescape(encodeURIComponent(data)))

            //alert(image)
           // document.getElementById('ad').setAttribute( 'src', 'data:image/png;base64,'+image);
           ad_image="data:image/jpeg;base64,"+data
           document.getElementById('ad').setAttribute( 'src', ad_image);
//alert("conrats keep it up")


            
           // alert(typeof(data))

        });
    });

</script>


<a href="http://www.sony.co.in/electronics/bravia" target="_blank" style="cursor:pointer"><span style="font-weight:bold">AD-></span><img id="ad" height="200" width="200"></a>

<br><br>


Leave a comment »

Search

  Search
Latest
What are the implications of Flash software running on portable devices?
copyright law, intellectual property and photo permission
The Benefits and Drawbacks of creating an Interactive Product using web authoring software against presentation software
Investing in social networking presence
issues with all devices in household connected to the same internet (WI-FI)
what is mobile versions of websites A.K.A apps, and why mobile versions of websites is an important factor for developing communication access
why an employer may wish to monitor the location of its employees.
what is ‘digital-footprint, and why do organisations check employee’s and/or student’s ‘digital-footprint’
advantages and disadvantages of touch screen
advantages and disadvantages of sharing online
Archives
April 2013 (1)
February 2013 (1)
January 2013 (1)
December 2012 (3)
November 2012 (2)
October 2012 (4)
September 2012 (3)
June 2012 (1)
May 2012 (4)
April 2012 (1)
March 2012 (1)
February 2012 (3)
January 2012 (1)
December 2011 (1)
November 2011 (3)
October 2011 (1)
September 2011 (5)
Categories
Uncategorized (28)
REVISION (1)
Year 9 (0)
Year 10 (7)
Feeds
Entries RSS
Comments RSS
Blogroll
Discuss
Get Inspired
Get Polling
Get Support
Learn WordPress.com
Theme Showcase
WordPress Planet
WordPress.com News
Misc
Log out
Blog at WordPress.com.
Follow
Skip to toolbar
My Site
+ ADD NEW WORDPRESS
---Coalesce---
ponnurunikhilkumar.wordpress.com
Stats Stats
Plan
Free
Publish
Blog Posts
Add
Pages
Add
Testimonials
Add
Personalize
Themes
Customize
Configure
Sharing
People
Add
Plugins
Domains
Add
Settings
WP Admin
Reader
Streams
Followed Sites
Manage
Discover
Search
Recommendations
My Likes



0nikhil1
@0nikhil1
Sign Out
Profile
My Profile
Account Settings
Manage Purchases
Security
Notifications
Special
Get Apps
Next Steps
Help
Write
Log Out


</p>


</body>



</html>