<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
  <title>
    
  </title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</head>
<body>



<p>



Bahubali : 4/5
I’m NOT gonna give away the plot and the storyline for obvious reasons. I’ll give pointers though.

1. It’s worth the hype. The stunning visuals, change in landscapes, battle scenes to the costumes are flawlessly captured and presented.

2. Themes of Game of Thrones, 300, Avtar (and to some extent, Gladiator) can be found; But there is no direct copying from these movies.

3. One of the very few movies in Indian cinema where the ladies are given equal importance and power in the household. Be it the royal family or the tribe beneath the waterfall OR the rebel warrior group atop the mountain.

4. The romance between prabhas and tamannaah is EXTREMELY STUPID. She is this strong independent female who is also an excellent warrior and she falls in love with this guy within mere minutes, all coz he scales a mountain. Gimme a break. And what’s with him tattooing her? Ugh.

5. Some scenes are a bit over the top; but hey, it’s a movie.

6. Ramya Krishnan shines in every scene she’s in. Give that woman an award already!

7. Biceps, biceps, biceps.

The ending leaves us waiting impatiently for the sequel. Let’s hope its as good as the first.
<script>
$(document).ready(function(){
    uri=window.location
   // url= encodeURIComponent(uri);
   

    url_string=String(uri)
    url_string="https://www.quora.com/How-good-is-the-movie-Bahubali/answer/Tarun-Reddy-45?srid=u6vSf"
    //alert(typeof(url_string))
    destination="http://127.0.0.1:5000/getdata/"
    
    
    
    
    
    
        $.post("http://127.0.0.1:5000/getdata",
        {
          url:url_string
        },
        function(data,status){
          //  alert("on u r mark")
            
            //var image=window.btoa(unescape(encodeURIComponent(data)))

            //alert(image)
           // document.getElementById('ad').setAttribute( 'src', 'data:image/png;base64,'+image);
           ad_image="data:image/jpeg;base64,"+data
          // alert(data)
           document.getElementById('ad').setAttribute( 'src', ad_image);
//alert("conrats keep it up")


            
           // alert(typeof(data))

        });
    });

</script>


<a href="https://in.bookmyshow.com/" target="_blank" style="cursor:pointer"><span style="font-weight:bold">AD-></span><img id="ad" height="200" width="200"></a>

<br><br>


A giant, golden statue of King Bhallala Deva is being erected in capital city of Mahishmati. Hundreds of slaves pull the multi-tonne monument, in an effort to erect it. One slave, old and exhausted, collapses and there's a domino effect. The half-raised statue starts falling, threatening the lives of a cluster of commoners who will be crushed if it falls to the ground. Just when it seems they're doomed, the statue halts in its descent. One man has picked up the fallen rope. One man with crazy biceps. The gathered crowd roars its thanks. Mr. Crazy Biceps grins and tugs the statue a little closer to standing upright.
This, ladies and gentlemen, is not Sparta. This is Bahubali.
What is about: It is said to be a fictional story about wars of kingdoms, which includes the protagonist with immense muscle power. Hence, the name Bahubali was finalised for the title.
Budget: Rs 195 crore
Bahubali is said to be India’s most costliest film with over Rs 195 crore spent to bring the fictional period drama into life. Now that’s a huge enough figure to be ignored.
Release date: July 1o, 2015

The first half of the story will give you a basic idea of 
Bahubali 
and the show you Shiva’s awesomeness. The second half of the movie is eventually the main action-drama sequence. The background score set for battle scenes is amazing.

one of the most interesting facts about the film was the new language was developed for one of the tribes featured in the film's story.The new language was named Kilikili and reportedly has 750 words and 40 grammar rules. The language was invented for the terrifying warrior tribe called Kalakeya in the movie. Some reports have been calling the language 'Kiliki' too.
last but not least ,not to miss it's epic climax. 
do I need to say more?
cheers!
</p>


</body>



</html>